html{
	cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}

body{
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.mosquito0{
	width: 50px;
	height: 50px;
	position: absolute;
}
.mosquito1{
	width: 75px;
	height: 75px;
	position: absolute;
}

.mosquito2{
	width: 100px;
	height: 100px;
	position: absolute;
}

.esquerda{
	transform: scaleX(1);
}

.direita{
	transform: scaleX(-1);
}

.painel{
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7
}

.vidas{
	float: left;
}

.cronometro{
	float: left;
	font-size: 20px;
	font-weight: bold;
}